#bt{
    background-color:rgb(22, 113, 218);
    font-weight: 50px;
    width: 100px;
    height: 30px;
    border:solid, chocolate;
}
#h1{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}